/* Created by: MariaG
 * Modified by: Kukwac
 * Created on: March 2022
 * This CSS file defines the style for index.php
 * ICS2O-Unit2-03-PHP-UserInput
*/

form {
    background-color: #22ff04;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
}

h1 {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    background-color: #00ff6e;
    text-align: center;
    padding: 20px;
}

h3 {
    width: 80%;
    margin-left: 10%;
}

p {
    width: 80%;
    margin-left: 10%;
}

iframe {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 5%;
    background-color: #4200f7;
}